/* Set the background color of the entire page */
body {
  background-color: blue;
  font-family: Arial, sans-serif;
}

p {
  font-size: medium;
  color: darkgrey;
}

h1, h2, h3, h4, h5, h6 {
  color: purple;
}
